server:
  port: 0

spring:
  application:
    name: gastroreview

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

security:
  jwt:
    secret-key: "mysupersecretkeyforjwtsecurity123456"
    expiration-time: 86400000

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    try-it-out-enabled: true
    display-request-duration: true

services:
  review:
    url: https://apigateway-raml.onrender.com/review

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: https://eurekaserver-lzph.onrender.com/eureka/
  instance:
    prefer-ip-address: true
